################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hummingbird.Extensions/v15
/Hummingbird.Extension.SMSC/bin/Debug
/Hummingbird.Extension.SMSC/obj/Debug
/packages
